body{
    background-color: #FBF7F7;
    /*background-image: url("../img/fond-3.png");*/
    background-position: center;
    background-size: cover;
}

.content-site{
    
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 24px 30px 30px;  
}

.content-site .page-header {
    background-color: rgba(61, 61, 61, 0.92);
    border-bottom: 1px solid #eee;
 
    padding: 5px 10px;
    color: #FFF;
    font-size: 18px;
    margin: 5px 0 15px 0;
   
}

.content-site   .page-header h1 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-site .withbackground{
    background-color: rgba(255,166,3, 0.2);
    border: 1px solid rgb(255,166,3);
    margin-left: 15px;
}

.content-site .accrocheNbOffre{
    text-align: right;
    margin-bottom: 15px;
}

.content-site span.accroche{
    background-color: rgba(0,166,153,0.8);
    color: #FFF;
    font-size: 14px;
    padding: 3px;
    font-weight: 500;
}

.content-site  p{
    font-weight: bold;
}

.width80{
    width: 60%;
    margin: 30px auto;
}

.width50{
    width: 50%;
    margin: 30px auto;
}

.btn-success {
    background-color: #ccc;
    border-color: #ccc;
    color: #468847;
}

.btn-info {
    background-color: #ccc;
    border-color: #ccc;
    color: #33B7AD;
}

.btn-danger {
    background-color: #ccc;
    border-color: #ccc;
    color: #C9302C;
}

.hello{
    width: 30% !important;
    color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.devis-striped{
    background-color: #EFEFEF;
}

.help li{
    padding-left: 15px;
}

.help ol{
    margin-left: 40px;
}

/******* media queries*********/

@media only screen and (max-width: 500px) {
 
.width50 {
    width: 100%;
    margin: 30px auto;
    }


}
