html {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
    padding-top: 50px; /* défini le départ du body sous la navbar */
}

* {
    box-sizing: border-box;
}

/*Barre de navigation*/

nav {
    height: 50px;
    background-color: black;
}

.navbar-inverse .navbar-nav > li > a {
    background-color: #222222;
    color: #9d9d9d;
}

.dropdown-menu>li>a {
  background-color: #222222;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background-color: #222222;
}

/*Bannière*/

#banner {
    background-color: #222222;
    margin-bottom: 20px;
    text-align: center;
}

#banner  p {
    height: 40px;
    line-height: 40px;
    margin : 0;
    color: #FFF;
    font-weight: bold;
}

/*Pied de page*/

footer {
    margin: 50px 0 0 0;
    line-height: 35.821px;
}

.footer_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;

}

.footer_links a, .footer_links p{
    color: #FFF;
    font-size: 1vw;
}

#update_footer {
    background-color: #222222;
}

#update_footer.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Formulaires*/
.forms{
   /* background-color: #ffffff;*/
    padding: 0 35px 30px 5px;
}

.forms .obligatoire {
    color: red;
}

.forms .error{
    color: red;
}

p.text-required-filed{
    margin-left: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    font-size: 12px;
}

#ttc_amount{
    font-weight: bold;
    color: green;
    margin-top: 8px;
}

/*Tableaux*/


/*Bagdes*/
.badge-success {
  background-color: #468847;
}

 .test {
    z-index: 1029;
    text-align: center;
    height: 50px;
    width: 150px;
    top: 50%;
    left: 50%;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
 }

/*Views*/

/* Les liens*/

a {
    color: red;
}

/*Devis*/
.devis_status {
    font-weight: 600;
    text-align: center;
}

.pending {
    color: #008489;
}

.accepted {
    color: darkgreen;
}

.not_accepted {
    color: firebrick;
}

.container .jumbotrondevis{
   padding: 20px;
}

/*Button*/
.btn_margin{
    margin-bottom: 5px;
}


/*Style de la page Index*/

.recentservice, .commentcamarche, .topartisans{
    min-height: 450px;
}

.recentservice li, .commentcamarche li, .topartisans li{
    padding-left: 30px;
    margin: 8px 0;
    position: relative;
}

.puce{
    display: inline-block;
    border-radius: 20px;
    color: #FFF;

    font-size: 11px;
    float: left;

    left: 5px;
    position: absolute;
    top: 10px;


    margin: 2px 8px 10px 0;
    text-align: center;
    width: 15px;
}

.pucerecentservice{
    background-color: #00a699;
}

.pucecommentcamarche{
    background-color: #00a699;  
}

.pucetopartisans{
    background-color: #00a699;
}

.settofront{
    font-weight: 600;
    color: #222;
}

/* Slider */

.txt {
    position: absolute;
    text-align: center;
    padding: 60px 0 0 0;
    z-index: 1029;
    left: 0;
    right: 0;
}

.txt p {
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.45);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 15px;
    border-radius: 3px;
}

.txt a {
  display: inline-block;
  color: #fff;
  background-color: orange;
  text-shadow: none;
  line-height: 38px;
  padding: 0 20px;
  border-radius: 4px;
  margin-top: 15px;
  transition: all 0.2s;
}
.txt a:hover {
  text-decoration: none;
  background-color: #ffc55b;
}

.label-categories {
    background-color: #33b7ad;
}

header.carousel {
  height: 60%;
}

.carousel-caption{
  text-shadow: 0 2px 4px rgba(0,0,0,.9);
}







/* basic table */
/*
 * jQuery Basic Table
 * Author: Jerry Low
 */

table.bt thead,
table.bt tbody th {
  display: none;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
  border: none;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;

  /* IE 9 */
  float: left\9;
  width: 100%\9;
}

table.bt tfoot th::before,
table.bt tfoot td::before,
table.bt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  font-weight: bold;
  width: 6.5em;
}

table.bt tfoot th.bt-hide,
table.bt tfoot td.bt-hide,
table.bt tbody td.bt-hide {
  display: none;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
  vertical-align: top;
}

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

